# compiled output
*.log

# editor settings
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# dependency tools (in case someone uses Node during dev)
node_modules/
bun.lockb
pnpm-lock.yaml
yarn.lock
package-lock.json

# OS
.DS_Store
Thumbs.db

# tests
test-output/

# Env / Secrets
.env
.env.local
.env.development.local
.env.test.local

# misc
npm-debug.log*
.last-changelog-hash

